.father{
  width: 200px;
  height: 200px;
  background-color: #eaeaea;
  overflow: auto;
  .son{
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: pink;
  }
}

.father1 {
  width: 100px;
  height: 100px;
  background-color: #eaeaea;
  overflow: auto;
  .son1 {
    width: 100px;
    height: 200px;
    line-height: 50px;
    background-color: pink;
  }
}

.carousel-container {
  margin-bottom: 40px;
}