<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-srarch></app-srarch>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
      <!-- <div class="row carousel-container">
        <app-carousel></app-carousel>
      </div>
      <div class="row">
        <app-product></app-product>
      </div> -->
    </div>
  </div>
</div>
<app-footer></app-footer>


<div>{{ title }}</div>
<div class="father">
  <div class="son">我可以拖动</div>
</div>

<div class="father1">
  <div class="son1">滚动下拉</div>
</div>


<ul>
  <li *ngFor="let item of products">{{ item.name }}</li>
</ul>
